.pagenation_list {
  margin-top: 20px;
  display: flex;
  width: 70%;
  justify-content: space-between;

  .first,
  .pre10,
  .pre {
    margin-right: 5px;
    img {
      transform: rotate(180deg);
      width: 20px;
    }
  }
  .next,
  .next10,
  .last {
    margin-left: 5px;
    img {
      width: 20px;
    }
  }

  .pre,
  .first,
  .next,
  .last {
    img {
      width: 15px;
    }
  }

  .btn {
    background: none;
    color: white;
    border: none;
  }
  .active {
    color: red;
  }
}
